.Main{
  background-color: #f0f4f9;
}

.img5 , .img4 {
  height: 15px;
  margin-left: 60px;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 200px;
  background-color: #f0f4f9

}
.logo a {
  text-decoration: none;
  color: black;
}
.Sign {
  background-color:  rgb(255, 184, 54);
  border-color:  rgb(255, 184, 54);
  
}
.details {
  background-color: #f0f4f9;
  color: rgba(243, 188, 5, 0.822);
  font-weight: bold;
  text-align: justify;
}
.text {
  margin-left: auto;
  text-align: left;

}
.yo {
  margin-left: 200px;

}
.yoo{
  margin-left: 200px;
  color: blue;
}
.header {
  background-color: rgb(255, 184, 54);
}
.blue {
  color: blue;
}
.black {
  color: black;
  font-weight: bold;
  margin-left: 100px;
}
.top {
  background-color: #f0f4f9;
  
}
.topg , .grid , .a , .real{
  margin-left: 100px;
}
.b {
  width: 1350px;
height: 530px;
}
.end{
  margin-left: 170px;

}
.Girl{
  margin-left: 200px;
}
.yellow {
  color:  rgb(255, 184, 54);
  font-weight: bold;
  text-align: center;
}
.Footer{
  background-color: #002147;
}
.r-one{
  color: rgb(248, 244, 239);
}
.r-two a{
  color: rgb(248, 244, 239);
  text-decoration: none;
}
.center {
  margin-left: 200px;
  border-spacing: 20px;

}
.white {
  color: rgb(248, 244, 239);
  margin-left: 200px;
}
.hi {
  background-color:  rgb(255, 184, 54);
  width: 1200px;
  margin-left: 100px;
}
.about {
  background-image: url(/src/Components/images/anime.png);
  height: 316px;
  width: 1510px;
}
.title {
  color: steelblue;
  font-weight: bold;
  margin-left: 100px;
}
.contact {
  background-image: url(/src/Components/Pages/Images/icon.png);
}
